[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-macos = "*"
pyyaml = "*"
tensorflow-metal = "*"
numpy = "*"
tensorflow-hub = "*"
jax = "*"
scipy = "*"
jaxlib = "*"
etils = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
install  = "sh -c 'pipenv install ; pip install --no-deps tensorflowjs[wizard]'"
